<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<head>
    <title>Isännöitsijät</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää isännöitsijä</h1>
	<div>
	<form th:object="${addManagement}" th:action="@{saveManagement}" action="#" method="post">
		<table class="table table-striped">
			<tr>
				<td>Isännöinti firma: <input type="text" th:field="*{managementName}" /></td>
				<td th:if="${#fields.hasErrors('managementName')}" th:errors="*{managementName}">Error</td>
			</tr>
			<tr>
				<td>Sähköposti: <input type="text" th:field="*{email}" /></td>
			</tr>
		</table>
		<input type="submit" class="btn btn-success" value="Save"></input>
	</form>
	</div>
</body>
</html>